* {
  --hotspot-layer-bg-color: #ffffff;
  --hotspot-layer-box-shadow-mobile: 0 0 3.125rem 3.125rem rgba(0,0,0,0.4);
  --hotspot-layer-box-shadow-desktop: 0 0.75rem 1.625rem 0 rgba(62, 69, 91, 0.15);
  --hotspot-layer-max-width-lg: 46.25rem;
  --hotspot-layer-max-width-xl: 52.5rem;
}

.hotspot-with-layer {
  	cursor: pointer;
}

.hotspot-with-layer--collection {
  height: 100%;
}

.hotspot-with-layer--layer {
  	position: fixed;
  	inset: 1.25rem;
  	z-index: 500;
  	min-width: 20rem;
	height: calc(100vh - 2.5rem);
  	padding: 1.25rem;
	box-shadow: var(--hotspot-layer-box-shadow-mobile);
	background-color: var(--hotspot-layer-bg-color);
  	overflow-y: scroll;
  	display: none;
  	opacity: 0;

	@media (min-width: 1024px) {
		position: relative;
	  	width: 100%;
	  	max-width: var(--hotspot-layer-max-width-lg);
	  	height: auto;
	  	max-height: calc(100% - 2.5rem);
	  	padding: 2.5rem;
	  	box-shadow: var(--hotspot-layer-box-shadow-desktop);
	}

	@media (min-width: 1280px) {
	  	max-width: var(--hotspot-layer-max-width-xl);
	}

	&:not([hidden]) {
		display: block;
	}

}

.hotspot-with-layer--layer-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.neos-backend .hotspot-with-layer--layer:not(.layer-open) {
	display: block !important;
	position: fixed !important;
	top: -9999px !important;
	left: -9999px !important;
	visibility: hidden !important;
	pointer-events: none !important;
}

.neos-backend .content-with-hotspots [class*="markActiveNodeAsFocused"]:has(.hotspot-with-layer--layer):not(:has(.layer-open)) {
	outline: none !important;
}

body:has(.content-with-hotspots.has-selected-pin) [data-__neos__inline-ui="TRUE"] {
	display: none !important;
}

